/* Write your CSS here */
body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modeContainer {
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.dark {
  background-color: #000000;
}

.light {
  background-color: #ffffff;
}

.darkModeHeading {
  color: #ffffff;
  font-family: Roboto;
}

.lightModeHeading {
  color: #000000;
  font-family: Roboto;
}

.btn {
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .modeContainer {
    height: 150px;
  }
}
